/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) */
header {
  z-index: 4;
  color: #fff;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  text-align: middle;
}
/*****************************************************************/
/* rotate burguer
/*****************************************************************/

.main_nav_burguer {
  margin: .6rem 0 0 1rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  transform: rotate(90deg);
  color: lightslategray;
  transition: .2s ease-in-out;
}

.main_nav_burguer:hover {
  cursor: pointer;
  transform: rotate(0deg);
  color: silver;
  transition: .2s ease-in-out;
}

/*****************************************************/
/* popup menu 2 levels */

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
  }

  ul, ol {
    list-style:none;
  }

  .nav > li {
    float:left;
  }

  .nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }

  .nav li a:hover {
    background-color:#434343;
  }

  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }

  .nav li:hover > ul {
    display:block;
  }

  .nav li ul li {
    position:relative;
  }

  .nav li ul li ul {
    right:-140px;
    top:0px;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
      background-position: left;
      background-position-x: 1rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
