/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) */
header {
  z-index: 4;
  color: #fff;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  text-align: middle;
}
/*****************************************************************/
/* rotate burguer
/*****************************************************************/

.main_nav_burguer {
  margin: .6rem 0 0 1rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: bolder;
  transform: rotate(90deg);
  color: lightslategray;
  transition: .2s ease-in-out;
}

.main_nav_burguer:hover {
  cursor: pointer;
  transform: rotate(0deg);
  color: silver;
  transition: .2s ease-in-out;
}

/*****************************************************************/
/* popup first level menu
/*****************************************************************/
.nav_bar_level1 {
  width: 0%;
  height: 0%;
  border-radius: 4px;
  transition: .2s ease-in-out;
  background-color: yellow;
}

/* hide seccond level */
.nav_bar_level1 li ul {
  display: none;
}

/* hide first level */
.nav_bar_level1 li{
  display: none;
}

/* display first level */
.main_nav_burguer:hover + .nav_bar_level1 li{
  display: block;
}
/* display first level title*/
.main_nav_burguer:hover + .nav_bar_level1 li span{
  display: block;
  font-size: 1.3rem;
  margin: .5rem;
  color: lightslategray;
  font-weight: bold;
  transition: .5s ease-in-out;
}
/* hover link menu */
.nav_bar_level1 li span:hover {
  background-color: #434343;
  width: 100%;
  padding: .2rem 1rem;
  border-radius: 4px;
  color: #FAFAFA;
  cursor: pointer;
}
/* display first level background */
.main_nav_burguer:hover + .nav_bar_level1
{
  display: block;
  margin: 1rem;
  padding: .8rem;
  flex-direction: column;
  transition: .3s ease-in-out;
  width: 50vw;
  transition: width 1s height 2s background-color 1s;
}

/*display second level */
.nav_bar_level1 li span:hover + ul{
  display: block;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
      background-position: left;
      background-position-x: 1rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
