.filters {
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin: auto 30px auto auto;
  align-self: center;
}

button:hover {
  opacity: .9;
}

.locations,
.amenities {
  height: 100%;
  width: 25%;
}

.locations {
  border-right: 1px solid #DDDDDD;
}

.locations h3,
.amenities h3{
  font-weight: 600;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
}
